{
    grace_period 5s

    log {
        output stdout
    }
}

:8602 {
    handle {
        header Content-Security-Policy "default-src 'self' wa.sscreator.com 'unsafe-inline' data:"

        try_files {path} /index.html
        file_server {
            # TODO: 由于 Bun 标准库实现问题，暂时禁用 Brotli 压缩
            precompressed gzip
        }
    }

    handle /api/* {
        uri strip_prefix /api
        reverse_proxy backend:8902
    }
}