[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
pywebio = "==1.5.2"
wordcloud = "==1.8.1"
jianshuresearchtools = "==2.9.0"
jieba = "==0.42.1"
pyyaml = "==5.4.1"
pandas = "==1.2.5"
plotly = "==5.5.0"
qrcode = "==7.3.1"

[dev-packages]

[requires]
python_version = "3.8"
