anyio==4.6.2.post1
certifi==2024.8.30
click==8.1.7
colorama==0.4.6 ; platform_system == 'Windows'
dnspython==2.7.0
exceptiongroup==1.2.2 ; python_full_version < '3.11'
faker==33.1.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.27.2
hyperframe==6.0.1
idna==3.10
importlib-metadata==8.5.0 ; python_full_version < '3.10'
jkit==3.0.0a16
litestar==2.13.0
litestar-htmx==0.4.0
markdown-it-py==3.0.0
mdurl==0.1.2
motor==3.6.0
msgspec==0.18.6
multidict==6.1.0
nodeenv==1.9.1
polyfactory==2.18.1
psycopg==3.2.3
psycopg-binary==3.2.3 ; implementation_name != 'pypy'
pygments==2.18.0
pymongo==4.9.2
pyright==1.1.389
python-dateutil==2.9.0.post0
pyyaml==6.0.2
rich==13.9.4
rich-click==1.8.5
ruff==0.8.1
six==1.16.0
sniffio==1.3.1
sshared==0.19.1
sspeedup==0.25.1
tomli==2.2.1
typing-extensions==4.12.2
tzdata==2024.2 ; sys_platform == 'win32'
uvicorn==0.32.1
uvloop==0.21.0
watchfiles==1.0.0
zipp==3.21.0 ; python_full_version < '3.10'
